

{% extends "base.html" %}
{% block head_title %}Party List | {{ block.super }}{% endblock head_title %}
{% block content%}

{% if request.user.is_authenticated %}
{% if error_message %}
<h1 >{{ error_message }}</h1>  

{% else %}

<div class="row" id="row-voting">
<form action="{% url 'laws:law_yes_vote' law.id %}" method="post">
{% csrf_token %}

<button class="btn btn-success" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" > 
<label >YES</label>
</form>
<form action="{% url 'laws:law_no_vote' law.id %}" method="post">
{% csrf_token %}

<button class="btn btn-danger" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" > 
<label >NO</label>
</form>
</div>
{% endif %}
{% else %}

<h1>Please, register</h1>

{% endif %}

{% endblock content%}